<% content_for :title do %>
種類一覧
<% end %>

<div id="index-right" class="clearfix">
</div>

<div id="main">
<div id="main_cont">
<table id="detail">
  <tr>
    <th>種別</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @genres.each do |genre| %>
  <tr>
    <td><%= genre.genrename %></td>
    <td><%= link_to 'Show', details_path(:genre_id => genre.id) %></td>
     <% if admin_signed_in? %>
    <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
    <td><%= link_to 'Destroy', genre, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<% if admin_signed_in? %>
<%= link_to 'New Genre', new_genre_path %>
<% end %>
</div>

<%= will_paginate @genres %>

</div>
