<script type="text/javascript">
  $(document).ready(function(){
    $('.slideshowtop').cycle({
    fx: 'fade',
    speed: 4000
      });
  });
</script>

<div id="index-right">
 <div id="whatsnew">
    <p>TOPICS</p>
 </div>
 <div id="whatsnew_cont">
     <% @infos.each do |info| %>
     <dl>
       <dt><%= info.created_at.strftime("%Y-%m-%d") %></dt>
         <dd><%= info.content %>
         <% unless info.url.nil? %>
         <%= link_to '見る', info.url %></dd>
         <% end %>
     </dl>
     <% end %>
 </div>
 <div id="twitter">
   <%= render 'widget' %>
 </div>
 <% if admin_signed_in? %>
 <%= link_to 'ログアウト', destroy_admin_session_path %>
 <%# else %>
 <%#= link_to 'ログイン',  new_admin_session_path %>
 <% end %>
</div>

<div id="main">
  <div class="slideshowtop">
      <% @pictures.each do |picture| %>
        <% @detail=picture.details.first %>
          <%= link_to (image_tag picture.image.url(:medium)), detail_path(@detail, :picture_id => picture.id) %>
        <% end %>
  </div>
 <div id="main_cont">
   <h3>さかなかな？</h3>
   <p>さかなかな？はダイビング中に出会った魚もサカナじゃない何かもすべてひっくるめてかわいい・面白い・群れ群れ・な写真を掲載する図鑑的サイトです。</p>
   <p>タイのタオ島が中心ですが、その他さまざまな地域でダイビングしたときの記憶と記録をご紹介します。</p>
 </div>
</div>


 
