<script type="text/javascript">
  $(document).ready(function(){
    $('.slideshowtop').cycle({
    fx: 'fade',
    speed: 4000
      });
  });
</script>

<div id="index-right">
 <div id="whatsnew">
    <p>TOPICS</p>
 </div>
 <div id="whatsnew_cont">
     <li>更新情報</li>
     <li>更新情報２</li>
 </div>
 <div id="twitter">
   <%= render 'widget' %>
 </div>
 <% if admin_signed_in? %>
 <%= link_to 'ログアウト', destroy_admin_session_path %>
 <% else %>
 <%= link_to 'ログイン',  new_admin_session_path %>
 <%= link_to 'ユーザ登録', new_admin_registration_path %>
 <% end %>
</div>

<div id="main">
  <div class="slideshowtop">
      <% @pictures.each do |picture| %>
        <% @detail=picture.details.first %>
          <%= link_to (image_tag picture.image.url(:medium)), detail_path(@detail, :picture_id => picture.id) %>
        <% end %>
  </div>
 <div id="main_cont">
   <p>メインコンテテンツの場所</p>
 </div>
</div>


 
