<%= render 'layouts/shared/javascript' %>

<% content_for :title do %>
<%= @pickup.created_at.strftime("%Y-%m-%d") %> &nbsp;オススメ写真(<%= @detail.name %>)
<% end %>

<div id="index-right">
 <div id="whatsnew">
   <p>更新日</p>
 </div>
 <div id="whatsnew_cont">
   <% @pickups.each do |pickup| %>
   <dl>
     <dt><%= link_to pickup.created_at.strftime("%Y-%m-%d"), pickup %></dt>
     <dd><%= truncate(pickup.comment, :length => 15) %></dd>
   <% end %>
 </div>
 <%= will_paginate @pickups %>
</div>

<div id="main">
<p id="notice"><%= notice %></p>
 <h2>
     更新日：<%= @pickup.created_at.strftime("%Y-%m-%d") %> &nbsp; <%= @detail.name %>
 </h2>
 <%= image_tag(@picture_first.image.url(:medium)) %>
 <div id="main_cont">
 <p><%= @pickup.comment %></p>
 <p><%= link_to @detail.name, detail_path(@detail, :picture_id => @picture_first.id) %>を見る</p>
<table><tr><td><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="akiko74" data-lang="ja">ツイート</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></td>
<td><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=142642749161266&amp;xfbml=1"></script><fb:like href="" send="true" layout="button_count" width="100" show_faces="false" font="tahoma"></fb:like></td>
<td><g:plusone size="medium"></g:plusone></td>
</tr>
</table>

<% if admin_signed_in? %>
<p><%= link_to 'Edit', edit_pickup_path(@pickup) %></p>
<p><%= link_to 'Destroy', @pickup, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'ja'}
</script>
</div>
