<% content_for :title do %>
ダイブサイト一覧
<% end %>

<div id="index-right" class="clearfix">
</div>

<div id="main">
  <div id="main_cont">
    <table>
      <tr>
        <th>エリア名</th>
        <th>ポイント名</th>
      </tr>

<% @divesites.each do |divesite| %>
  <tr>
    <td><%= divesite.area.areaname %></td>
    <td><%= link_to divesite.pointname, divesite %></td>
    <% if admin_signed_in? %>    
    <td><%= link_to 'Edit', edit_divesite_path(divesite) %></td>
    <td><%= link_to 'Destroy', divesite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>
<%= will_paginate @divesites %>

<br />

<% if admin_signed_in? %>    
<%= link_to 'New Divesite', new_divesite_path %>
<% end %>

  </div>
</div>
