<div id="index-right" class="clearfix">
</div>

<div id="main">
  <div id="main_cont">
    <table id="detail">
      <tr>
        <th>エリア名</th>
        <th>ポイント名</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

<% @divesites.each do |divesite| %>
  <tr>
    <td><%= divesite.area.areaname %></td>
    <td><%= divesite.pointname %></td>
    <td><%= link_to 'Show', divesite %></td>
    <td><%= link_to 'Edit', edit_divesite_path(divesite) %></td>
    <td><%= link_to 'Destroy', divesite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Divesite', new_divesite_path %>

  </div>
</div>
