<p id="notice"><%= notice %></p>

<p>
  <b>Point:</b>
  <%= @divesite.pointname %>
</p>

  <% @pictures.each do |picture| %>
    <% @detail_first = picture.details.first %>
    <%= link_to image_tag(picture.image.url(:thumb)), detail_path(:id => @detail_first.id, :picture_id => picture.id)  %> 
  <% end %>

  <% @details.each do |detail| %>
  <% @picture = detail.pictures.first %>
    <%#= link_to detail.name, picture_path(:id => @picture.id, :detail_id => detail.id) %>
    <%= link_to detail.name, detail_path(:id => detail.id) %>
  <% end %>

<%= link_to 'Edit', edit_divesite_path(@divesite) %>
<%= link_to 'Back', divesites_path %>
