<script type="text/javascript">
    $(function() {
        $('.thumbnail a').lightBox()
    });
</script>

<% content_for :title do @divesite.pointname %>
<% end %>

<%= notice %>

  <div id="index-right" class="clearfix">
    <ul class="thumbnail">
           <% @pictures.each do |picture| %>
           <% @detail = picture.details.first %>
        <div id="thumbnail">
           <li><%= link_to(image_tag(picture.image.url(:thumb)),picture.image.url(:medium), :rev=> detail_path(:id =>@detail.id, :picture_id => picture.id) ) %></li>
        </div>
           <% end %>
    </ul>
  </div>

<div id="main">
  <p>ポイント名: <%= @divesite.pointname %></p>

<%= image_tag @divesite.sitemap.url(:original) %>
<%#= render 'layouts/mainpict' %>

  <table>
    <tr>
      <th>このポイントで見られた魚</th>
    </tr>
    <tr>
      <td>
         <% @details.each do |detail| %>
         <%= link_to detail.name, detail_path(:id => detail.id, :divesite_id => @divesite.id) %>
         <% end %>
      </td>
    </tr>
  </table>
</div>
