<%= notice %>

<%= render 'layouts/javascript' %>
<%= render 'layouts/rightthumb' %>

<div id="main">
  <h2>ポイント名: <%= @divesite.pointname %></h2>
 
<%= render 'layouts/mainpict' %>

  <table>
    <tr>
      <th>このポイントで見られた魚</th>
    </tr>
    <tr>
      <td>
         <% @details.each do |detail| %>
         <%= link_to detail.name, detail_path(:id => detail.id, :divesite_id => @divesite.id) %>
         <% end %>
      </td>
    </tr>
  </table>
</div>
