<% content_for :title do @divesite.pointname %>
<% end %>

<%= notice %>
<%= render 'layouts/shared/rightthumb' %>

<div id="main">
  <h3>ポイント名: <%= @divesite.pointname %></h3>

<%= image_tag @divesite.sitemap.url(:original) %>
  <table>
    <tr>
      <th>このポイントで見られた魚</th>
    </tr>
    <tr>
      <td>
         <% @details.each do |detail| %>
         <%= link_to detail.name, detail_path(:id => detail.id, :divesite_id => @divesite.id) %>
         <% end %>
      </td>
    </tr>
  </table>
</div>
