<% content_for :title do %>
タグ一覧
<% end %>

<div id="index-right" class="clearfix">
</div>

<div id="main">
  <div id="main_cont">
<table>
  <tr>
    <th>タグ/Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.tagname %></td>
    <td><%= link_to '見る', tag %></td>
    <% if admin_signed_in? %>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>

<% if admin_signed_in? %>
<%= link_to 'New Tag', new_tag_path %>
<% end %>
</table>

<%= will_paginate @tags %>
<br />

</div>
</div>
