<% content_for :title do @tag.tagname %>
<% end %>

<%= notice %>

<%= render 'layouts/shared/rightthumb' %>

<div id = "main">
      <h3>"<%= @tag.tagname %>"タグがついている写真</h3>
 <%= render 'layouts/shared/lightbox' %>
 </div>
 <div id = "maincont">
 </div>
 <table>
 <tr><td><%= link_to('戻る', :back) %></td></tr>
 </table>
</div>
