<% content_for :title do @tag.tagname %>
<% end %>

<%= render 'layouts/javascript' %>

<%= notice %>
<div id ="index-right" class="clearfix">
 <ul class="thumbnail">
    <div id="thumbnail">
      <% @pictures.each do |picture| %>
        <li><%= image_tag picture.image.url(:thumb) %></li>
      <% end %>
    </div>
  </ul>
</div>



<div id = "main">
  <table>
    <tr>
      <th>"<%= @tag.tagname %>"タグがついている写真</th>
    <tr>
   </table>
 <div id = "main_pict">

<%= render 'layouts/mainpict' %>

 </div>
 <div id = "maincont">
 </div>
</div>
