<%= render 'layouts/javascript' %>

<p id="notice"><%= notice %></p>
<div id ="index-right" class="clearfix">
 <ul class="thumbnail">
    <div id="thumbnail">
      <% @pictures.each do |picture| %>
        <li><%= image_tag picture.image.url(:thumb) %></li>
      <% end %>
    </div>
  </ul>
</div>



<div id = "main">
 <div id = "main_pict">

<%= render 'layouts/mainpict' %>

 </div>
 <div id = "maincont">
  <p>
  <b>Tag:</b>
  <%= @tag.tagname %>
  </p>
 </div>
</div>
