<div id="index-right">
</div>

<div id="main">
<%= notice %>

    <h2><%= @area.areaname %></h2>

<table>
  <tr>
    <th>ポイント名:</b>
  <% @divesites.each do |divesite| %>
  <tr>
  <td><%= link_to divesite.pointname, divesite_path(:id => divesite.id) %></br></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>

</div>
