<%= form_for(@picture, {}, :html => { :multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pictid %><br />
    <%= f.text_field :pictid %>
  </div>
<!--ポイントを選択する
  <div class="field">
    <# %= f.label :divesite %><br />
    <# %= f.text_field :divesite %>
  </div>
--!>
  <div class="field">
    <%= f.label :pictdate %><br />
    <%= f.datetime_select :pictdate %>
  </div>
  <div class="filed">
    <%= f.label :originalpict %><br />
    <%= f.file_field :originalpict %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
