<%= form_for(@picture, {}, :html => { :multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pictid %><br />
    <%= f.text_field :pictid %>
  </div>

  <div class="field">
    <%= f.label :divesite %><br />
    <%= collection_select(:picture, :divesite_id, Divesite.all, :id, :pointname) %>
  </div>
<!--
  <div class="field">
    <#%= f.label :detail %><br />
    <#%= collection_select(:picture, :detail_id, Detail.all, :id, :name) %>
  </div>
--!>
  <div class="field">
    <%= f.label :pictdate %><br />
    <%= f.datetime_select :pictdate %>
  </div>
  <div class="filed">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
