<div id="index-right">
</div>

<div id="main">
<table>
<td><%= image_tag @picture.image.url(:medium) %></td>
<tr>
 <td>検索</td>
</tr>
<tr>
 <td><% unless @detail.nil? %>
 <%= @detail.name %>
 <% end %>
 </td>
</tr>
<tr> 
 <td><%= form_for :details, :html => {:method => :get } do |f| %>
   <%= text_field_tag(:keyword) %>
   <%= f.submit "検索" %></td>
   <% end %>
</tr>
<tr>
  <td>
 <% @details.each do |detail| %>
   <%= link_to detail.name, edit_picture_path(:detail_id => detail.id)  %>
 <% end %>
  </td>
</tr>

<tr>
 <td>
    <%= form_tag ({:action => 'edit'}, {:method => 'get' }) do %>
    <%= collection_select(@divelog, :divelog_select, Divelog.all, :id, :start_date) %>
    <%= submit_tag "検索"%>
    <% end %>
 </td>
</tr>

<tr>
<td>
<%= form_for @picture do |f| %>
<% unless @detail.nil? %>
<%= f.label :detail_name %><br />
<input name="detail_ids[]" type="hidden" value="<%= @detail.id %>">
<%= f.label :tag_name %><br />
<% end %>
  <% Tag.all.each do |tag| %>
  <input type="checkbox"
         id="<%= tag.id %>"
         name="tag_ids[]"
         value="<%=tag.id %>"
        <%= @picture.tag_ids.include?(tag.id) ? 'checked' : ''%>
   ><%= tag.tagname %>
  <% end %>
  <% unless @divelog.nil? %>
  <%= f.label :divelog_id %><br />
  <input name="divelog_id" type="hidden" value="<%= @divelog.id %>">
  <%= f.label :divesite_id %><br />
  <input name="divesite_id" type="hidden" value="<%= @divelog.divesite_id %>">
  <% end %>
  <div class="actions">
  <%= f.submit %>
  </div>
</td>
<% end %>
</tr>
</table>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>

<% unless @divelog.nil? %>
<%= @divelog.start_date %>
<%= @divelog.divesite_id %>
<% end %>
</div>
