<div id="index-right">
</div>

<div id="main">
<table>
<% @pictures.each do |picture| %>
  <tr>
    <td><%= image_tag picture.image.url(:thumb) %></td>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%= link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
</div>
</table>

<%= link_to 'New Picture', new_picture_path %>
</div>
