<p id="notice"><%= notice %></p>

<p>
  <b>Pic:</b>
  <%= @picture.pictid %>
</p>

<p>
  <b>Pict date:</b>
  <%= @picture.pictdate %>
</p>

<p>
<%= image_tag @picture.image.url(:medium) %>
<%= image_tag @picture.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

