<div id="index-right">
</div>

<div id="main">
<p id="notice"><%= notice %></p>

<p>
  <b>Pic:</b>
  <%= @picture.image_file_name %>
  <%= @picture.divelog.start_date %>
  <%= @picture.divelog.divesite.pointname %>
</p>

<%= @picture.exif.shot_date_time %>
<p>
<%= image_tag @picture.image.url(:medium) %>
</p>

<% @pictures.each do |pict| %>
<%= image_tag pict.image.url(:thumb) %>
<% end %>

<%= link_to 'New', new_picture_path %> |
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
</div>
