<p id="notice"><%= notice %></p>

<p>
  <b>Pic:</b>
  <%= @picture.pictid %>
</p>

<p>
  <b>Pict date:</b>
  <%= @picture.pictdate %>
</p>

<p>
<% if @picture.originalpict_exist? %>
<%= image_tag @picture.public_originalpict_filepath %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

<% end %>
