<% content_for :title do %>
魚一覧 || タオ島、他ダイビングスポットで出会った魚たち
<% end %>

<div id="index-right" class="clearfix">
   <% @details.each do |detail| %>
       <% picture = detail.pictures.first %>
          <% unless  picture.nil? %>
          <td><%= link_to image_tag(detail.pictures.first.image.url(:thumb)), detail %></td>
        <% end %>
   <% end %>
 </div>

<div id="main">
  <table>
    <tr>
      <th>魚の名前から写真を検索できます。</th>
    </tr>
    <tr>
<td><%= form_for :details, :html => {:method => :get } do |f| %>
 <%= text_field_tag(:keyword)%>
 <%= f.submit "検索" %></td>
<% end %>
    </tr>
  </table>
<table>
  <tr>
    <th>名前</th>
    <th>英名</th>
    <th>別名</th>
    <th></th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%= link_to detail.name, detail %></td>
    <td><%= detail.englishname %></td>
    <td><%= detail.othername %>
    <% if admin_signed_in? %>
    <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
    <td><%= link_to 'Destroy', detail, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'New', new_picture_path(:detail_id => detail.id) %></td> 
    <% end %>
</tr>
<% end %>
</table>
<%= will_paginate @details %>

<br />

    <% if admin_signed_in? %>
    <%= link_to 'New Detail', new_detail_path %>
    <% end %>
</div>
