<% content_for :title do %>
<%= @detail.name %>
<% end %> 

<%= render 'layouts/javascript' %>
<%= notice %>

<% unless @picture_first.blank? %>
  <div id="index-right" class="clearfix">
    <ul class="thumbnail">
        <div id="thumbnail">
           <%= image_tag @picture_first.image.url(:thumb) %>
           <% @pictures.each do |picture| %>
           <%= image_tag picture.image.url(:thumb) %>
           <% end %>
        </div>
    </ul>
  </div>

<div id="main">
  <table>
    <tr>
      <th><%= @detail.name %></th>
    </tr>
  </table>
       <div class="slideshow">
             <%= image_tag @picture_first.image.url(:medium) %>
             <% @pictures.each do |picture| %>
             <%= image_tag picture.image.url(:medium) %>
             <% end %>
       </div>
<% end %>

  <table>
     <tr>
     <th>種別</th>
        <td><%= @detail.genre.genrename %></td>
     </tr>
     <tr>
        <th>名前</th>
          <td><%= @detail.name %><td>
     </tr>
     <tr>
        <th>英名</th>
        <td><%= @detail.englishname %></td>
     </tr>
     <tr>
      <th>別名</th>
        <td><%= @detail.othername %></td>
     </tr>
     <tr>
        <th>特徴など</th>
          <td><%= @detail.description %></td>
     </tr> 
  </table>
  <table>
      <tr>
        <th>見られたポイント</th>
      </tr>
      <tr>
        <td>
           <% @divesites.each do |d| %>
           <%= link_to d.pointname, divesite_path(:id => d.id) %>
           <% end %>
        </td>
      </tr>
      <tr>
          <th>魚についてるタグ</th>
      </tr>
      <tr>
         <td>
           <% @tags.each do |t| %>
           <%= link_to t.tagname, tag_path(:id => t.id) %>
           <% end %>
         </td>
      </tr>
    <tr>
      <td><%= link_to '魚一覧に戻る', details_path %></td>
      <% unless @divesite.blank? %>
      <tr>
      <td><%= link_to @divesite.pointname, divesite_path(:id => @divesite.id)%>に戻る</td>
      </tr>
      <% end %>
    </tr>
</table>
</div>
