<script type="text/javascript">
$(function(){
  var $container = $('.slideshow').cycle({
    speed: 300,
    autostop: 1,
    autostopCount: 1
  });

  var obj= $('#thumbnail img');
  $container.children().each(function(i){
    $(obj[i]).css('cursor', 'pointer').click(function(){
        $container.cycle(i);
        return false;
    });
  });
});
</script>

<p id="notice"><%= notice %></p>

<% unless @picture_first.blank? %>
  <div id="index-right" class="clearfix">
    <ul class="thumbnail">
        <div id="thumbnail">
           <li><%= image_tag @picture_first.image.url(:thumb) %></li>
           <% @pictures.each do |picture| %>
           <li><%= image_tag picture.image.url(:thumb) %></li>
           <% end %>
        </div>
    </ul>
  </div>

  <div id="main">
<%= link_to 'Back', details_path %>
    <div id="main_pict">
       <div class="slideshow">
          <td>
             <%= image_tag @picture_first.image.url(:medium) %></li>
             <% @pictures.each do |picture| %>
             <li><%= image_tag picture.image.url(:medium) %></li>
             <% end %>
          </td>
       </div>
    </div>
   </div>
<% end %>

  <table id="detail">
    <tr>
     <th>種別:</th>
        <td><%= @detail.genre.genrename %></td>
     </tr>
     <tr>
        <th>名前:</th>
          <td><%= @detail.name %><td>
     </tr>
     <tr>
        <th>英名:</th>
        <td><%= @detail.englishname %></td>
     </tr>
     <tr>
      <th>別名:</th>
        <td><%= @detail.othername %></td>
     </tr>
     <tr>
        <th>説明:</th>
          <td><%= @detail.description %></td>
     </tr> 

      <tr>
        <th>見られたポイント</th>
<% @divesites.each do |d| %>
      <tr>  
        <td><%= link_to d.pointname, divesite_path(:id => d.id) %>
            <% end %>
      </tr>

</table>
</div>
