<p id="notice"><%= notice %></p>
 <% unless @picture_first.blank? %>
 <%= image_tag @picture_first.image.url(:medium)  %>
 <% end %>
<p>
  <b>Name:</b>
  <%= @detail.name %>
</p>

<p>
  <b>Ename:</b>
  <%= @detail.englishname %>
</p>

<p>
  <b>Oname:</b>
  <%= @detail.othername %>
</p>

<p>
  <b>Description:</b>
  <%= @detail.description %>
</p>


<% unless @pictures.blank? %>
<% @pictures.each do |picture| %>
  <tr>  
    <td><%= image_tag picture.image.url(:thumb) %></td>
  <% end %>
  </tr>
<% end %>


<% @divesites.each do |d| %>
  <tr>  
    <td><%= link_to d.pointname, divesite_path(:id => d.id) %>
  <% end %>
  </tr>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
