<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @detail.name %>
</p>

<p>
  <b>Ename:</b>
  <%= @detail.ename %>
</p>

<p>
  <b>Oname:</b>
  <%= @detail.oname %>
</p>

<p>
  <b>Description:</b>
  <%= @detail.description %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
