<title><%= pagetitles %></title>

<div id="index-right">
</div>

<div id="main">
<h2>ダイブログ</h2>

<table>
  <% @divelogs.each do |divelog| %>
    <tr>
      <td><%= divelog.logdate %></td>
      <td><%= link_to divelog.divesite.pointname, divesite_path(:id=> divelog.divesite.id) %>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_divelog_path(divelog) %></td>
          <td><%= link_to 'Destroy', divelog, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
    </tr>
  <% end %>
</table>
<p>
<%= will_paginate @divelogs %>
</p>
<br />

<% if admin_signed_in? %>
<%= link_to 'New Divelog', new_divelog_path %>
<% end %>

</div>
