<%= render 'layouts/javascript' %>

<p id="notice"><%= notice %></p>

<%= render 'layouts/rightthumb' %>

<div id="main">
  <div id="main_pict">

<%= render 'layouts/mainpict' %>

  <div id="maincont">
<p>
  <b>ダイビングの日付:</b>
  <%= @divelog.logdate %>
  <b>ポイント:</b>
  <%= @divelog.divesite.pointname %>
</p>


<% @details.each do |detail| %>
<% @picture = detail.pictures.first %>
 <tr>
   <td><%#= link_to detail.name, detail_path(:id => detail.id) %></td>
   <td><%= link_to detail.name, picture_path(:id => @picture.id, :detail_id => detail.id) %></td>
 <% end %>
 </tr>

  </div>
 </div>
</div>
