<%= render 'layouts/shared/javascript' %>


<%= render 'layouts/shared/rightthumb' %>

<div id="main">
<p id="notice"><%= notice %></p>
  <div id="main_pict">

<%= render 'layouts/shared/mainpict' %>

<div id="maincont">
<p>
  <b>ダイビングの日付:</b>
  <%= @divelog.start_date %><br />
  <b>ポイント:</b>
  <%= @divelog.divesite.pointname %><br />
</p>


<% @details.each do |detail| %>
<% @picture = detail.pictures.first %>
 <tr>
   <td><%= link_to detail.name, picture_path(:id => @picture.id, :detail_id => detail.id) %></td>
 <% end %>
 </tr>

  </div>
 </div>
</div>
