<% content_for :title do @divelog.start_date %>
<% end %>

<%= render 'layouts/shared/rightthumb' %>
<div id="main">

<p id="notice"><%= notice %></p>

<table>
<tr>
  <th>ダイビングの日付:</th>
</tr>
<tr>
  <td><%= @divelog.start_date %></td>
</tr>
<tr>
  <th>ポイント:</th>
</tr>
<tr>
  <td><%= @divelog.divesite.pointname %>／<%= @divelog.divesite.area.areaname %></td>
</tr>
<tr>
   <th>見られた魚</th>
</tr>
<tr><td>
   <% @details.each do |detail| %>
   <% @picture = detail.pictures.first %>
   <%= link_to detail.name, detail_path(:id => detail.id, :picture_id => @picture.id) %><% end %>
   </td>
</tr>
</table>
</div>
