<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title)+" | さかなかな？-タオ島、他ダイビングスポットで出会った魚たち" : "さかなかな？-タオ島、他ダイビングスポットで出会った魚たち" %></title>

  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'lightbox' %>
  <%= stylesheet_link_tag 'will_paginate' %>
  <%= javascript_include_tag(:defaults) %>
  <%= javascript_include_tag 'jquery.cycle.all' %>
  <%= javascript_include_tag 'lightbox_plus' %>
  <%= javascript_include_tag 'jquery.galleriffic.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24206960-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="wrapper">
       <%= notice %>
       <%= alert %>
  <div id="header_pict">
   <%= link_to (image_tag('/images/sample_top.jpg', :alt =>'さかなかな？'), root_path) %>
  </div>
  <div id="header_cont">
   <h2>タイのタオ島を中心に、ダイビング中に出会った魚の写真を掲載しています</h2>
  </div>
  <div id="index-left">
      <div id="menu">
        <ul>
          <% @pickup_last = Pickup.last %>
          <li><%= link_to_unless(@pickup_last.nil?, 'オススメの写真', pickup_path(:id => @pickup_last.id)) %></li>
          <li><%= link_to 'ダイビングログを見る', divelogs_path %></li>
          <li><%= link_to 'ポイント名を見る', divesites_path %></li>
          <li><p>▼魚の写真を探す</p>
             <ul>
               <li><%= link_to '∟名前で探す', details_path %></li>
               <li><%= link_to '∟種類で探す', genres_path %></li>
               <li><%= link_to '∟タグで探す', tags_path %></li>
             </ul>
          </li>
          <li><a href="/top/movies">動画など</a></li>
          <li><a href="/top/equipments">機材など</a></li>
          <li><a href="/top/contact">お問い合わせ</a></li>
        </ul>
      </div>
  </div>

  <%= yield %>
</div>

  <div id="footer">
  <p>All Rights Reserved. 無断転載禁止</p>
  </div>
</body>
</html>
