<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <!-- <title><%#= pagetitles() %></title> --!>
    <title><%= content_for?(:title) ? yield(:title)+" | タオ島、他ダイビングスポットで出会った魚たち" : "タオ島、他ダイビングスポットで出会った魚たち" %></title>

<!--  <%= stylesheet_link_tag :all %> --!>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'lightbox' %>
  <%= javascript_include_tag(:defaults) %>
  <%= javascript_include_tag 'jquery.cycle.all' %>
  <%= javascript_include_tag 'jquery.lightbox' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24206960-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="wrapper">
       <%= notice %>
       <%= alert %>
  <div id="header_pict">
   <%= link_to (image_tag('/images/sample_top.jpg'), root_path) %>
  </div>
  <div id="header_cont">
   <h2>タイのタオ島を中心に、ダイビング中に出会った魚の写真を掲載しています</h2>
  </div>
  <div id="index-left">
      <div id="menu">
        <ul>
          <li><%= link_to 'ダイビングログ', divelogs_path %></li>
          <li><%= link_to 'ポイント名', divesites_path %></li>
          <li><p>写真を探す</p>
             <ul>
               <li><%= link_to '名前で探す', details_path %></li>
               <li><%= link_to '種類で探す', genres_path %></li>
               <li><%= link_to 'タグで探す', tags_path %></li>
             </ul>
          </li>
          <li><a href="/top/movies">動画など</a></li>
          <li><a href="/top/equipments">機材など</a></li>
          <li><a href="/top/contact">お問い合わせ</a></li>
        </ul>
      </div>
  </div>

  <%= yield %>
</div>

  <div id="footer">
  <p>All Rights Reserved. 無断転載禁止</p>
  </div>
</body>
</html>
